@media (max-width: 600px) {
    * {width: 100%; height: auto;}
}


/* FONTE */
@import url('https://fonts.googleapis.com/css2?family=Changa+One&display=swap');


/* PÁGINA DE DETALHES */
* {
    font-family: 'Merriweather Sans', sans-serif;
    text-align: justify;
}

body{
    margin:0;
    padding:0;
    color: #ffffff;
    word-wrap: break-word;
    overflow-wrap: break-word;
}


/* ÁREA DE NAVEGAÇÃO */
nav {
    display: flex;
}

.botaoPagina {
    background-color: #FFD700;
    color: 	#00008B;
    border: 10px;
    max-width: 100%;
    border-width: 0;
    border-radius: 10px;
    padding: 5px;
    padding-right: 85px;
    transition: 0.7s;
    padding-left: 0;
    font-size: 20px;
}

.botaoPagina:hover {
    border-width: 5px solid blue;
    padding-right: 55px;
    padding-left: 30px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 25px;
    text-decoration: underline;
}

/* ------------ */


h1,h2,h3,h4,h5,h6{
    font-weight: 900;
    color: #000;
}

h2 {
    color: green;
    text-decoration: underline;
    margin-top: 40px;
}

.geral{
    width: 100%;
    margin: 0 auto;
}

main{
    display: block;
    background-color: #fff;
}

.container{
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
    padding: 0 20px;
}


/* ESTILO DOS LUGARES RESERVADOS PARA OS TEXTOS E IMAGENS */
section.modulo p{
    margin-bottom: 40px;
}

section.modulo:last-child{
    margin-bottom: 0;
}

section.modulo h2{
    margin-bottom: 40px;
    font-size: 30px;
}

section.modulo.conteudo{
    padding: 40px 0;
    background: #FFD700;
}

/* EFEITO PARALLAX DE APARIÇÃO */
section.modulo.parallax{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh !important;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

section.modulo.parallax:after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 8;
    background: -moz-linear-gradient(to bottom, rgba(230, 230, 230, 0) 0, rgba(0,0,0,0) 40%, #ffffff 100%);
    background: -webkit-linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #b4b3b3 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #969494 100%);
}

section.modulo.parallax h1{
    color: #fff;
    text-align: center;
    font-size: 78px;
    z-index: 50;
    text-transform: uppercase;
}

.area-1, .area-2, .area-3{
    visibility: hidden;
}

/* ------------------ */

/* IMAGENS(MESMO ESTILO DA PÁGINA INDEX,IMPORTANDO DO DISCORD) */
section.modulo.parallax-1{
    background-image: url("https://cdn.discordapp.com/attachments/908323487427481640/1092553750020890767/image.png")
}

section.modulo.parallax-2{
    background-image: url("https://cdn.discordapp.com/attachments/908323487427481640/1092544351609049168/image.png")
}

section.modulo.parallax-3{
    background-image: url("https://cdn.discordapp.com/attachments/908323487427481640/1092544417111486564/image.png")
}


/* Voltar ao topo */

.btn-topo {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 15px;
    width: 170px;
}
  

.btn-topo:hover {
    background-color: transparent;
    color: whitesmoke;
}